<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/quiz.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <h1 id="welcome">
        <i class="fas fa-user"></i>
        <%=username %>
    </h1>
    <!-- <h3>This is a Quiz On HTML CSS and JavaScript</h3> -->
    <hr>
    <div class="quiz-form">
        <form action="/result" method="POST">
            <% let cnt=1; %>
                <% for(let ques of quiz) {%>

                    <div class="mb">
                        <img src="images/question.png" alt="">

                        <label for="question<%= cnt %>" class="form-label">
                            <b>

                                <%= cnt %>. <%= ques.question %>
                            </b>

                        </label>
                    </div>
                    <!-- <img src="images/choice.png" alt=""> -->
                    <div class="form-check">

                        <input class="form-check-input" type="radio" name="question<%= cnt%>"
                            id="<%= ques.incorrect_answers[0] %>" value="<%= ques.incorrect_answers[0] %>">
                        <label class="form-check-label" for="<%= ques.incorrect_answers[0] %>">
                            <%= ques.incorrect_answers[0] %>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question<%= cnt %>"
                            id="<%= ques.incorrect_answers[1] %>" value="<%= ques.incorrect_answers[1] %>">
                        <label class="form-check-label" for="<%= ques.incorrect_answers[1] %>">
                            <%= ques.incorrect_answers[1] %>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question<%= cnt %>"
                            id="<%= ques.incorrect_answers[2] %>" value="<%= ques.incorrect_answers[2] %>">
                        <label class="form-check-label" for="<%= ques.incorrect_answers[2] %>">
                            <%= ques.incorrect_answers[2] %>
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question<%= cnt %>"
                            id="<%= ques.incorrect_answers[3] %>" value="<%= ques.incorrect_answers[3] %>">
                        <label class="form-check-label" for="<%= ques.incorrect_answers[3]    %>">
                            <%= ques.incorrect_answers[3] %>
                        </label>
                    </div>

                    <% cnt++; %>

                        <hr>
                        <% } %>

                            <button type="submit" class="btn btn-primary btn-lg" id="start-quiz-btn">Submit Quiz
                            </button>
        </form>
    </div>

    <!-- <script>
        console.log('Hi')
    </script> -->
    <script src="js/quiz.js"></script>
</body>

</html>