<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/register.css">
    <link rel="shortcut icon" href="images/fav-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <div class="card-header text-center">
            <i class="fas fa-user-plus"></i>
            <b>Register</b>
        </div>
        <div class="card-body">
            <!-- Include partials to include errors messages -->
            <%- include("./partials/messages"); %>
                <form action="/register" method="POST" name="registerform" onsubmit="return validationForm()">
                    <div class="mb-3">
                        <label for="username" class="form-label"><b>Username</b></label>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="Type Your UserName"
                            value="<%= typeof username != 'undefined' ? username : '' %>" required>



                        <!-- Alert message on wrong name details -->


                        <div class="Warningname">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span id="message0"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <!-- End of Alert message -->




                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label"><b>Name</b></label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Type Your Name"
                            value="<%= typeof name != 'undefined' ? name : '' %>" required>



                        <!-- Alert message on wrong name details -->


                        <div class="Warningname">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span id="message1"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <!-- End of Alert message -->




                    </div>
                    <div class="mb-3">
                        <label for="inputEmail4" class="form-label"><b>Email</b></label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Type Your Email"
                            required>

                        <!-- Alert message on wrong name details -->


                        <div class="Warningname">

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span id="message2"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <!-- End of Alert message -->
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword4" class="form-label"><b>Password</b></label>
                        <input type="password" class="form-control" name="password" id="password"
                            value="<%= typeof password != 'undefined' ? password : '' %>" required>

                        <!-- Alert message on wrong name details -->


                        <div class="Warningname">

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span id="message3"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <!-- End of Alert message -->
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword4" class="form-label"><b>Confirm Password</b></label>
                        <input type="password" class="form-control" name="password2" id="password2"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" required>
                        <!-- Alert message on wrong name details -->


                        <div class="Warningname">

                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span id="message4"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <!-- End of Alert message -->
                    </div>

                    <button type="submit" class="btn btn-danger btn-lg" id="registerbtn">Register</button>
                </form>
                <!-- <a href="#" class="btn btn-primary">Register</a> -->
                <!-- <button type="button" class="btn btn-primary">Back to Home Page</button> -->

        </div>
        <div class="card-footer text-center" id="card-footer">
            Have an Account ? <a href="/login" id="login"><span>Login</span></a>
            <!-- <button type="button" class="btn btn-primary">Back to Home Page</button> -->
            <a href="/" class="btn btn-primary">Back to Home Page</a>

            <!-- <a href="/adminregister">Register an Admin</a> -->
        </div>
        <!-- <button type="button" class="btn btn-primary">Back to Home Page</button> -->
        <!-- <div class="card-footer text-muted">
            <a href="/">Back to Home Page</a>
        </div> -->

    </div>
    <script src="js/register.js"></script>
</body>

</html>